In [2]:
import pandas as pd
import numpy as np
from datetime import datetime
import string

In [8]:
!ls ../data_full/raw/big_twitter

Company.csv  Company_Tweet.csv	Tweet.csv

In [13]:
fp_company = "../../data_full/raw/big_twitter/Company.csv"
df_company = pd.read_csv(fp_company)

In [17]:
df_company

  ticker_symbol company_name
0          AAPL        apple
1          GOOG   Google Inc
2         GOOGL   Google Inc
3          AMZN   Amazon.com
4          TSLA    Tesla Inc
5          MSFT    Microsoft

In [16]:
set(df_company["company_name"])

{'Amazon.com', 'Google Inc', 'Microsoft', 'Tesla Inc', 'apple'}

In [12]:
df_company.shape

(3717964, 7)

In [6]:
fp = "/home/ginger/code/gderiddershanghai/DVA_Team_173/data_full/raw/twitter_data/big_twitter/big_filtered.csv"
df = pd.read_csv(fp)

In [7]:
df.head()

,Unnamed: 0,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num,ticker_symbol,company_name,Created_at,Source,Tweet,Stock_ticker,Company_name
0,1850587,825493957974953984,App_sw_,1485648071,Google and Yahoo are dodging warrants after #M...,0,0,0,MSFT,Microsoft,2017-01-29 00:01:11,Ginger,Google and Yahoo are dodging warrants after #M...,MSFT,Microsoft
1,1850588,825494113214541826,App_sw_,1485648108,"Apple, #Microsoft and Uber help staff stranded...",0,0,0,MSFT,Microsoft,2017-01-29 00:01:48,Ginger,"Apple, #Microsoft and Uber help staff stranded...",MSFT,Microsoft
2,1850589,825494271029452800,Ev_Investor,1485648145,Didn't notice suppliers stock tanked? Tesla ju...,0,0,0,TSLA,Tesla Inc,2017-01-29 00:02:25,Ginger,Didn't notice suppliers stock tanked? Tesla ju...,TSLA,Tesla Inc
3,1850590,825494273529307136,It_c0nsulting,1485648146,#Google adds more editing capabilities to Docs...,0,0,0,GOOG,Google Inc,2017-01-29 00:02:26,Ginger,#Google adds more editing capabilities to Docs...,GOOG,Google Inc
4,1850591,825495206011166723,App_sw_,1485648368,"#Microsoft, HP Team Up For Social Impact Hacka...",0,0,0,MSFT,Microsoft,2017-01-29 00:06:08,Ginger,"#Microsoft, HP Team Up For Social Impact Hacka...",MSFT,Microsoft

In [9]:
df = df[['Tweet', 'Stock_ticker', 'Company_name', 'Created_at', 'Source']]

In [22]:
df.drop_duplicates(subset=['Tweet', 'Stock_ticker'], inplace=True)

In [23]:
df['Source'] = 'Large Dataset Ginger https://www.kaggle.com/datasets/omermetinn/tweets-about-the-top-companies-from-2015-to-2020'

In [24]:
output_fp = '/home/ginger/code/gderiddershanghai/DVA_Team_173/data_full/processed/large_dataset_UNLABELLED.csv'
df.to_csv(output_fp, index=False)