In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import string

In [2]:
!ls ../data_full/raw/twitter_data/kaggle/

tweets_labelled_09042020_16072020.csv  tweets_remaining_09042020_16072020.csv

In [3]:
fp_label = "../data_full/raw/twitter_data/kaggle/tweets_labelled_09042020_16072020.csv"
df_label = pd.read_csv(fp_label, delimiter=';', encoding='utf-8', on_bad_lines='skip')

In [5]:
df_label.head()

,id,created_at,text,sentiment
0,77522,2020-04-15 01:03:46+00:00,"RT @RobertBeadles: YoðŸ’¥\nEnter to WIN 1,000 Mon...",positive
1,661634,2020-06-25 06:20:06+00:00,#SriLanka surcharge on fuel removed!\nâ›½ðŸ“‰\nThe ...,negative
2,413231,2020-06-04 15:41:45+00:00,Net issuance increases to fund fiscal programs...,positive
3,760262,2020-07-03 19:39:35+00:00,RT @bentboolean: How much of Amazon's traffic ...,positive
4,830153,2020-07-09 14:39:14+00:00,$AMD Ryzen 4000 desktop CPUs looking â€˜greatâ€™ a...,positive

In [27]:
df_label["sentiment"].isna().mean(), df_label.shape

(0.74, (5000, 4))

In [19]:

df_label["sentiment"].value_counts()

positive    528
neutral     424
negative    348
Name: sentiment, dtype: int64

## no label

In [28]:
fp_nolabel = "../data_full/raw/twitter_data/kaggle/tweets_remaining_09042020_16072020.csv"
df_nolabel = pd.read_csv(fp_nolabel, delimiter=';', encoding='utf-8', on_bad_lines='skip')

In [33]:
df_nolabel["created_date"] = pd.to_datetime(df_nolabel["created_at"]).dt.date

In [34]:
 df_nolabel["created_date"].value_counts().sort_index()

2020-04-09    13941
2020-04-10     6639
2020-04-11     5308
2020-04-12     6150
2020-04-13    12602
              ...
2020-07-12     7450
2020-07-13    19066
2020-07-14    17296
2020-07-15    16682
2020-07-16    14127
Name: created_date, Length: 77, dtype: int64

In [35]:
 df_nolabel

,id,created_at,full_text,created_date
0,1,2020-04-09 23:59:51+00:00,@KennyDegu very very little volume. With $10T ...,2020-04-09
1,2,2020-04-09 23:58:55+00:00,#ES_F achieved Target 2780 closing above 50% #...,2020-04-09
2,3,2020-04-09 23:58:52+00:00,RT @KimbleCharting: Silver/Gold indicator crea...,2020-04-09
3,4,2020-04-09 23:58:27+00:00,@Issaquahfunds Hedged our $MSFT position into ...,2020-04-09
4,5,2020-04-09 23:57:59+00:00,RT @zipillinois: 3 Surprisingly Controversial ...,2020-04-09
...,...,...,...,...
923668,938668,2020-07-16 00:00:25+00:00,RT @MadMraket: We tend to spend lot of time in...,2020-07-16
923669,938669,2020-07-16 00:00:23+00:00,You \n\n$SPX $SPY #ES_F,2020-07-16
923670,938670,2020-07-16 00:00:23+00:00,"$KO Coca-Cola #Options #maxpain Chart, Open In...",2020-07-16
923671,938671,2020-07-16 00:00:06+00:00,Here's a dividends watchlist \nfor the 01/04/0...,2020-07-16
923672,938672,2020-07-16 00:00:00+00:00,$AAL $TWTR $SPCE $AZN $ERI $RCL $JNJ $AA $SNBR...,2020-07-16