In [1]:
import pandas as pd
import numpy as np

In [8]:
carina_fp = '/home/ginger/code/gderiddershanghai/DVA_Team_173/data_full/raw/twitter_data/kaggle/carina_tweets_cleaned.csv'
kenny_fp = '/home/ginger/code/gderiddershanghai/DVA_Team_173/data_full/raw/twitter_data/kenny/kenny_stock_tweets_labelled.csv'
# big_fp = '/home/ginger/code/gderiddershanghai/DVA_Team_173/data_full/raw/twitter_data/big_twitter/Tweet.csv'
jason_top = '/home/ginger/code/gderiddershanghai/DVA_Team_173/data_full/processed/IEEE/top.csv'
jason_middle = '/home/ginger/code/gderiddershanghai/DVA_Team_173/data_full/processed/IEEE/mid.csv'
jason_bottom = '/home/ginger/code/gderiddershanghai/DVA_Team_173/data_full/processed/IEEE/bottom.csv'

In [9]:
carina_df = pd.read_csv(carina_fp)
kenny_df = pd.read_csv(kenny_fp)
# big_df = pd.read_csv(big_fp)
jason_top_df = pd.read_csv(jason_top)
jason_middle_df = pd.read_csv(jason_middle)
jason_bottom_df = pd.read_csv(jason_bottom)

In [10]:
df.head()

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num
0,550441509175443456,VisualStockRSRC,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1
1,550441672312512512,KeralaGuy77,1420070496,Insanity of today weirdo massive selling. $aap...,0,0,0
2,550441732014223360,DozenStocks,1420070510,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0
3,550442977802207232,ShowDreamCar,1420070807,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1
4,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1

In [4]:
df.head()

             tweet_id ticker_symbol
0  550803612197457920          AAPL
1  550803610825928706          AAPL
2  550803225113157632          AAPL
3  550802957370159104          AAPL
4  550802855129382912          AAPL