#  Checking Kenny's Dataset

In [79]:
import pandas as pd
import re

In [2]:
fp = "/home/ginger/code/gderiddershanghai/DVA_Team_173/data_full/raw/twitter_data/kenny/kenny_stock_tweets_labelled.csv"
df = pd.read_csv(fp,)

In [8]:
fp_original = "/home/ginger/code/gderiddershanghai/DVA_Team_173/data_full/raw/twitter_data/kenny/kenny_stock_tweets.csv"
df_original = pd.read_csv(fp_original)

In [10]:
df_original['Tweet'].duplicated().sum()

16314

In [22]:
df[df['Tweet'].duplicated()].sort_values(by='Tweet').reset_index().iloc[0,2]

'" If I allocate $1 into the SPY ETF: This is what happens - 6.3 cents to MSFT, 6 cents to AAPL, 4.4 cents to GOOG/L, 4 cents to AMZN, 2 cents to TSLA, 2 cents to FB/MVRS, 25 cents every $1 “Equity Allocation” goes into these 6 stocks. Apple is larger than Germany." - Goldman'

In [8]:
df.duplicated().sum()

0

In [46]:
df['full_text'].duplicated().sum()

912003

# Checking Jason's IEEE dataset

In [64]:
fp_jason = "/home/ginger/code/gderiddershanghai/DVA_Team_173/data_full/raw/twitter_data/kaggle/IEE_Tweets_with_scores.csv"
df_jason =  pd.read_csv(fp_jason, engine='python', on_bad_lines='skip')

In [66]:
df_jason[df_jason['full_text'].duplicated()].sort_values(by='full_text').reset_index().iloc[16750,-2]

'RT @5stocksinto: 5 Malaysian Stocks Into Apparel Retail https://t.co/JOzCUcyUz7 #Malaysia #Retail #Stocks #Investment #Apparel #Fashion #Ga…'

In [68]:
df_jason.drop_duplicates(subset='full_text', inplace=True)

# changed Carina's code

In [78]:
def extract_single_ticker(text):
    tickers = re.findall(r'\$[A-Za-z]+', str(text))
    tickers = [t.replace("$", "").upper() for t in tickers]
    return tickers[0] if len(tickers) == 1 else None  # Only return if exactly one

# Apply the function to the DataFrame
df_jason["stock_ticker"] = df_jason["full_text"].apply(extract_single_ticker)

# Drop rows where no single ticker was found
filtered_df = df_jason[df_jason["stock_ticker"].notnull()].copy()

In [98]:
df_filtered['Tweet'] = df_filtered['full_text']
df_filtered['Score'] = df_filtered['predicted_score']
df_filtered['Created_at'] = df_filtered['created_at']
df_filtered['Stock_ticker'] = df_filtered['stock_ticker']
df_filtered['Source'] =  'IEEE Dataset https://ieee-dataport.org/open-access/stock-market-tweets-data'

In [99]:
df_filtered = df_filtered[['Created_at','Tweet','Stock_ticker','Score', 'Source']]

In [100]:
def get_company_name(ticker):
    try:
        stock = yf.Ticker(ticker)
        return stock.info.get("longName", "Unknown")
    except Exception:
        return "Unknown"

In [101]:
stock_dic_fp = '/home/ginger/code/gderiddershanghai/DVA_Team_173/data_full/raw/twitter_data/kaggle/sp500.csv'
stock_dic_df = pd.read_csv(stock_dic_fp)
stock_dic_df.head()

  Symbol                 Name       Sector
0    MMM           3M Company  Industrials
1    AOS      A.O. Smith Corp  Industrials
2    ABT  Abbott Laboratories  Health Care
3   ABBV          AbbVie Inc.  Health Care
4   ABMD          ABIOMED Inc  Health Care

In [102]:
df_filtered

,Created_at,Tweet,Stock_ticker,Score,Source
0,2020-04-09 23:59:51+00:00,@KennyDegu very very little volume. With $10T ...,SPX,-0.637270,IEEE Dataset https://ieee-dataport.org/open-ac...
3,2020-04-09 23:58:27+00:00,@Issaquahfunds Hedged our $MSFT position into ...,MSFT,-1.062240,IEEE Dataset https://ieee-dataport.org/open-ac...
6,2020-04-09 23:57:27+00:00,Pfizer Shares Acquired by Ipswich Investment M...,PFE,0.341477,IEEE Dataset https://ieee-dataport.org/open-ac...
9,2020-04-09 23:56:58+00:00,RT @TDANetwork: 📽️ #TheWatchList panel assesse...,AAPL,-0.530649,IEEE Dataset https://ieee-dataport.org/open-ac...
13,2020-04-09 23:56:25+00:00,I can't stand this #Facebook commercial that k...,FB,-0.972969,IEEE Dataset https://ieee-dataport.org/open-ac...
...,...,...,...,...,...
923785,2020-07-16 00:03:23+00:00,Mondelez International $MDLZ Has A Neutral #Fu...,MDLZ,0.105952,IEEE Dataset https://ieee-dataport.org/open-ac...
923787,2020-07-16 00:02:42+00:00,Head and shoulders in the $Spx futures?,SPX,-0.093359,IEEE Dataset https://ieee-dataport.org/open-ac...
923788,2020-07-16 00:02:40+00:00,RT @Ozono_Merval: $SPX &lt;futuros&gt; &amp; #...,SPX,-0.142436,IEEE Dataset https://ieee-dataport.org/open-ac...
923793,2020-07-16 00:01:52+00:00,Alumina Limited (#ASX: $AWC) released second q...,AWC,-0.986080,IEEE Dataset https://ieee-dataport.org/open-ac...
923808,2020-07-16 00:00:23+00:00,"$KO Coca-Cola #Options #maxpain Chart, Open In...",KO,0.421236,IEEE Dataset https://ieee-dataport.org/open-ac...

In [103]:
stock_dic_df = stock_dic_df.rename(columns={"Symbol": "Stock_ticker", "Name": "Company_Name"})
df_filtered = df_filtered.merge(stock_dic_df, on="Stock_ticker", how="left")

In [105]:
df_filtered.sample(2)

,Created_at,Tweet,Stock_ticker,Score,Source,Company_Name,Sector
106785,2020-05-08 00:39:02+00:00,ASML Holding NV $ASML Given Average Recommenda...,ASML,0.918845,IEEE Dataset https://ieee-dataport.org/open-ac...,NaN,NaN
59463,2020-04-24 16:09:37+00:00,"WOW!!… So far, less than a 1% ""Intraday Move"" ...",SPX,0.666514,IEEE Dataset https://ieee-dataport.org/open-ac...,NaN,NaN

In [106]:
df_filtered = df_filtered[~df_filtered['Company_Name'].isna()]

In [109]:
df_filtered['Tweet'].duplicated().sum()

0

In [111]:
df_filtered.reset_index(drop=True, inplace=True)

In [112]:
output_path = '/home/ginger/code/gderiddershanghai/DVA_Team_173/data_full/processed/IEEE/processed.csv'
df_filtered.to_csv(output_path, index=False)