In [4]:
import pandas as pd
big_fp = '/home/ginger/code/gderiddershanghai/DVA_Team_173/data_full/raw/twitter_data/big_twitter/Tweet.csv'
company_tweet_fp = '/home/ginger/code/gderiddershanghai/DVA_Team_173/data_full/raw/twitter_data/big_twitter/Company_Tweet.csv'
company_fp = '/home/ginger/code/gderiddershanghai/DVA_Team_173/data_full/raw/twitter_data/big_twitter/Company.csv'

In [2]:
df = pd.read_csv(big_fp)

In [3]:
df.head()

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num
0,550441509175443456,VisualStockRSRC,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1
1,550441672312512512,KeralaGuy77,1420070496,Insanity of today weirdo massive selling. $aap...,0,0,0
2,550441732014223360,DozenStocks,1420070510,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0
3,550442977802207232,ShowDreamCar,1420070807,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1
4,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1

In [7]:
# Index(['Created_at', 'Tweet', 'Stock_ticker', 'Score', 'Source'], dtype='object')
pd.read_csv(company_tweet_fp).head(2)

             tweet_id ticker_symbol
0  550803612197457920          AAPL
1  550803610825928706          AAPL

In [8]:
# Index(['Created_at', 'Tweet', 'Stock_ticker', 'Score', 'Source'], dtype='object')
pd.read_csv(company_fp).head(2)

  ticker_symbol company_name
0          AAPL        apple
1          GOOG   Google Inc

### merging all

In [9]:
df_tweet_tickers = pd.read_csv(company_tweet_fp)  
df_companies = pd.read_csv(company_fp)

In [10]:
df_ticker_company = df_tweet_tickers.merge(df_companies, on='ticker_symbol', how='left')
df = df.merge(df_ticker_company, on='tweet_id', how='left')

In [11]:
df['Created_at'] = pd.to_datetime(df['post_date'], unit='s')

In [15]:
df = df[df['Created_at']>'2017-01-29']

In [21]:
df.columns

Index(['tweet_id', 'writer', 'post_date', 'body', 'comment_num', 'retweet_num',
       'like_num', 'ticker_symbol', 'company_name', 'Created_at', 'Source',
       'Tweet', 'Stock_ticker'],
      dtype='object')

In [18]:
df.sample()

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num,ticker_symbol,company_name,Created_at,Source
2188923,885591694334337025,ELPfan,1499976488,Apple: Do iPads Matter Now?...https://seekinga...,0,0,0,AAPL,apple,2017-07-13 20:08:08,Ginger

In [22]:
# Index(['Created_at', 'Tweet', 'Stock_ticker', 'Score', 'Source'], dtype='object')
df['Source'] = 'Ginger'
df['Tweet'] = df['body']
df['Stock_ticker'] =df['ticker_symbol']
df['Company_name'] = df['company_name']

In [23]:
df[['Tweet', 'Stock_ticker', 'Company_name', 'Created_at', 'Source']]

,Tweet,Stock_ticker,Company_name,Created_at,Source
1850587,Google and Yahoo are dodging warrants after #M...,MSFT,Microsoft,2017-01-29 00:01:11,Ginger
1850588,"Apple, #Microsoft and Uber help staff stranded...",MSFT,Microsoft,2017-01-29 00:01:48,Ginger
1850589,Didn't notice suppliers stock tanked? Tesla ju...,TSLA,Tesla Inc,2017-01-29 00:02:25,Ginger
1850590,#Google adds more editing capabilities to Docs...,GOOG,Google Inc,2017-01-29 00:02:26,Ginger
1850591,"#Microsoft, HP Team Up For Social Impact Hacka...",MSFT,Microsoft,2017-01-29 00:06:08,Ginger
...,...,...,...,...,...
4336440,In 2020 I may start Tweeting out positive news...,TSLA,Tesla Inc,2019-12-31 23:53:21,Ginger
4336441,Patiently Waiting for the no twitter sitter tw...,TSLA,Tesla Inc,2019-12-31 23:54:03,Ginger
4336442,I don't discriminate. I own both $aapl and $ms...,AAPL,apple,2019-12-31 23:55:37,Ginger
4336443,I don't discriminate. I own both $aapl and $ms...,MSFT,Microsoft,2019-12-31 23:55:37,Ginger
4336444,"$AAPL #patent 10,522,475 Vertical interconnect...",AAPL,apple,2019-12-31 23:55:53,Ginger

In [24]:
output_fp = '/home/ginger/code/gderiddershanghai/DVA_Team_173/data_full/raw/twitter_data/big_twitter/big_filtered.csv'

In [25]:
df.to_csv(output_fp)